# 2. Списки и кортежи

## .append()

In [1]:
a = 'order1'
b = 'order2'
c = 'order3'
orders = list()
orders.append(a)
orders
orders.append(b)
orders
orders.append(c)
orders

['order1', 'order2', 'order3']

In [2]:
book1 = 'my book'
book2 = 'your book'
books = ['all_books']
books.append(book1)
books.append(book2)
books

['all_books', 'my book', 'your book']

## .clear()

In [4]:
letters = ['a', 'b', 'c', 'd', 'e']
print(letters)
letters.clear()
letters

['a', 'b', 'c', 'd', 'e']

[]

## .count()

In [5]:
numbers = [1, 2, 4, 5, 3, 5, 3, 1, 5]
numbers.count(5)

3

## copy()

Предположим, вы хотите получить копию полки со своими книгами на другой полке. Тогда для копирования вам подойдёт метод .copy().

In [ ]:
a = [1,2,3]
b = a.copy()
b 
# [1,2,3]

В Python есть синтаксический сахар для данного метода — две квадратные скобки с двоеточием внутри [:]. Мы как бы говорим: «Сделай мне полный срез исходного списка в другую переменную»:

In [6]:
a = [1,2,3]
b = a[:]
b 
# [1,2,3]

[1, 2, 3]

In [7]:
my_books = ['book1', 'book2', 'book3', 'book4', 'book5']
tom_books = my_books.copy()
print(my_books, tom_books)

['book1', 'book2', 'book3', 'book4', 'book5'] ['book1', 'book2', 'book3', 'book4', 'book5']

In [8]:
my_orders = ['order1', 'order2', 'order3', 'order4', 'order5']
anne_orders = my_orders[:]
print(my_orders)
print(anne_orders)

['order1', 'order2', 'order3', 'order4', 'order5']
['order1', 'order2', 'order3', 'order4', 'order5']

## .extend()

In [9]:
all_things =['order1', 'order2', 'order3']
only_books = ['book1', 'book2']
all_things.extend(only_books)
all_things

['order1', 'order2', 'order3', 'book1', 'book2']

## .reverse()

Вновь представим полку с книгами. Вы каждый день берёте с полки разные книги и замечаете, что к книгам, находящимся справа, вы обращаетесь чаще, чем к тем, что слева. Однако дотягиваться до книг вам удобнее слева. Тогда вы решаете развернуть книги так, чтобы крайняя правая стала крайней левой.

In [ ]:
a = [1,2,3,4,5]
a.reverse()
a 
# [5,4,3,2,1]

In [ ]:
a = [1,2,3,4,5]
b = a[::-1]
b 
# [5,4,3,2,1]

In [15]:
nums = [i for i in range(1,11)]
nums.reverse()
nums

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## .sort()

In [16]:
random_values = [3, 5, 0, -1, 2, 10, 15, -5]
random_values.sort()
random_values

[-5, -1, 0, 2, 3, 5, 10, 15]

In [17]:
list1 = [5, 0.2, 'hello there', [1,2,3,4],'bye']
list1

[5, 0.2, 'hello there', [1, 2, 3, 4], 'bye']

## Кортеж

In [18]:
a = 3, 
# случайно поставили запятую
a 
# (3, ) вместо обычной числовой переменной получился кортеж

(3,)

In [22]:
tpl = tuple()
tpl

()

In [25]:
tpl2 = 255,
tpl2

(255,)

In [26]:
tpl3 = (15, 22, 0)
tpl3

(15, 22, 0)

# 3. Типы данных: словарь

In [2]:
empty_dict1 = dict()
empty_dict2 = {}

print(empty_dict1)
print(empty_dict2)

{}
{}

In [3]:
alphabet_dict = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
alphabet_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [10]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money[4] = 5
place_and_money[3] = 25
place_and_money

{1: 100, 2: 50, 3: 25, 4: 5}

## .clear()

In [11]:
friends = {"Коля": 180, "Марина": 176, "Миша": 158, "Дима": 201, "Яна": 183, "Нина": 156}
friends.clear()
friends 
# {}

# Также можно использовать обычное присвоение переменной friends пустого словаря:

friends = {} 
# {}

{}

### Важно! Если вы выполнили операцию .clear(), данные обратно вернуть нельзя (только если вы предусмотрительно не сохранили копию словаря в другую переменную перед «стиранием»).

## .keys()

In [12]:
friends = {"Коля": 180, "Марина": 176, "Миша": 158, "Дима": 201, "Яна": 183, "Нина": 156}
friends.keys() 
# dict_keys([“Коля”, “Марина”, “Миша”, “Дима”, “Яна”, “Нина”])
# Важно отметить, что метод .keys() возвращает не просто список, а структуру типа dict_keys.

dict_keys(['Коля', 'Марина', 'Миша', 'Дима', 'Яна', 'Нина'])

In [13]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.keys()

dict_keys([1, 2, 3])

In [14]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.keys()

dict_keys(['Anne', 'Anton', 'Phillip'])

## .values()

In [15]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.values()

dict_values([22, 27, 30])

In [16]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.values()

dict_values([100, 50, 10])

## .get()

> Ещё один часто используемый метод в словарях. По сути, это «умная» замена обычному обращению по ключу через квадратные скобки. Почему «умная»? Если использовать только квадратные скобки при обращении к словарю, то при отсутствии нужного ключа программа выдаст ошибку и закончит работу.
>
> В случае с .get() программа продолжит работать, но вернёт константу None — единственного представителя типа NoneType, который показывает, что значения нет, оно пусто.

In [ ]:
# Ещё один часто используемый метод в словарях. По сути, это «умная» замена обычному обращению по ключу через квадратные скобки. Почему «умная»? Если использовать только квадратные скобки при обращении к словарю, то при отсутствии нужного ключа программа выдаст ошибку и закончит работу.

# В случае с .get() программа продолжит работать, но вернёт константу None — единственного представителя типа NoneType, который показывает, что значения нет, оно пусто.

friends["Матвей"] 
#- Ошибка KeyError: "Матвей"

friends.get("Матвей") 
#- None

# Также .get() позволяет вывести значение по умолчанию для отсутствующего ключа. Это второй аргумент в методе .get():

friends.get("Матвей", "У меня нет такого друга.") 
#- "У меня нет такого друга."

friends.get("Матвей", 100) 
#- 100

In [19]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.get(20, 0)

0

In [20]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.get('Danny', -1)

-1

## .update()

In [21]:
friends = {"Коля": 180, "Марина": 176, "Миша": 158, "Дима": 201, "Яна": 183, "Нина": 156}


friends.update({"Стас":171, "Настя": 163})
friends 
# {"Коля": 180, "Марина": 176, "Миша": 158, "Дима": 201, "Яна": 183, "Нина": 156, "Стас":171, "Настя": 163}

friends.update({"Стас":183})
friends 
# {"Коля" 180, "Марина": 176, "Миша": 158, "Дима": 201, "Яна": 183, "Нина": 156, "Стас":183, "Настя": 163}

{'Коля': 180,
 'Марина': 176,
 'Миша': 158,
 'Дима': 201,
 'Яна': 183,
 'Нина': 156,
 'Стас': 183,
 'Настя': 163}

In [27]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.update({4: 5, 5: 1})
place_and_money

{1: 100, 2: 50, 3: 10, 4: 5, 5: 1}

In [30]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.update({'Anne' : 23, 'Phillip':29})
name_to_age

{'Anne': 23, 'Anton': 27, 'Phillip': 29}

## .pop()

In [31]:
friends = {"Коля": 180, "Марина": 176, "Миша": 158, "Дима": 201, "Яна": 183, "Нина": 156}
best_friend_height = friends.pop("Миша")
friends 
# {"Коля": 180, "Марина": 176, "Дима": 201, "Яна": 183, "Нина": 156, "Стас":183, "Настя": 163}
best_friend_height 
# 158

158

In [32]:
place_and_money = {1: 100, 2: 50, 3: 10}
third_place = place_and_money.pop(3)
third_place

10

In [33]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
mate = name_to_age.pop('Anton')
mate

27

## .setdefault()

In [34]:
friends = {"Коля": 180, "Марина": 176, "Дима": 201, "Яна": 183, "Нина": 156, "Стас":183, "Настя": 163}
friends.setdefault("Настя",100)
friends["Настя"] 
# 100

163

In [35]:
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.setdefault(10,1)
place_and_money

{1: 100, 2: 50, 3: 10, 10: 1}

In [36]:
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.setdefault('Anne', 32)
name_to_age

{'Anne': 22, 'Anton': 27, 'Phillip': 30}

### Важно! В качестве ключа словаря должен выступать неизменямый тип данных (числа, строки, кортежи), а в качестве значения может выступать любая структура данных.

In [37]:
d = {(1,2): "hello", "my name is": "Curt", 5: (7,7,7), "info": {"name": "stive", "age": 15, "cities": ["Moscow", "New York"]}}
d

{(1, 2): 'hello',
 'my name is': 'Curt',
 5: (7, 7, 7),
 'info': {'name': 'stive', 'age': 15, 'cities': ['Moscow', 'New York']}}

In [38]:
test_dict = {}
test_dict.update({5:[3,4,5], (3,4,5):'strong man'})
test_dict

{5: [3, 4, 5], (3, 4, 5): 'strong man'}

In [40]:
test_dict2 = dict()
test_dict2.update({'name': 'Sancho', 'surname': 'Panso', 'info':{'age': 35, 'country': 'Mexico'}})
test_dict2

{'name': 'Sancho',
 'surname': 'Panso',
 'info': {'age': 35, 'country': 'Mexico'}}

In [44]:
test_dict3 = {}
test_dict3.update({'info':[10,15,27], 'about':{'game': 'football', 'period': 5} })
test_dict3.update({'about': 'dont know'})
test_dict3

{'info': [10, 15, 27], 'about': 'dont know'}

# 4. Типы данных: множества

## Задание множества

In [ ]:
Пустое множество можно задать одним способом — через конструктор типов dset().

set1 = set()
set1 
# set()

Так же можно задать множество, уже содержащее элементы:

s1 = set("hello")
s1 
#  {‘h’, ‘l’, ‘e’, ‘o’}

### Важно! Вы можете создать множество с помощью фигурных скобок, но внутри множества уже должны быть элементы (хотя бы один). Пустые фигурные скобки указывают, что создаётся словарь, а не множество — про это нужно помнить.

In [ ]:
s1 = {}
type(s1) 
# <class ‘dict’>

s2 = {1,2,3}
type(s2) 
# <class ‘set’>

In [45]:
s1 = set()
s1

set()

In [46]:
s2 = {5, 10, 3, 2, 11}
s2

{2, 3, 5, 10, 11}

In [49]:
s3 = set('wow thats cool')
s3

{' ', 'a', 'c', 'h', 'l', 'o', 's', 't', 'w'}

## Методы множеств
## .add()

In [ ]:
s = {1, 2, 3, 4}
s.add(5)
s 
# {1, 2, 3, 4, 5}

In [50]:
s1 = set('abcde')
s1.add('hello')
s1

{'a', 'b', 'c', 'd', 'e', 'hello'}

## .discard(), .remove()

In [ ]:
Методы discard() и .remove() позволяют убрать элемент из множества.

Их отличие друг от друга состоит в том, что при удалении уже отсутствующего элемента из множества discard() ничего не сделает, а вот .remove() выкинет ошибку.
Суть выбора заключается в логике вашего алгоритма. Если вам важно, чтобы удаление элемента было явным, используйте метод .remove().

In [ ]:
s1 = {1,2,3,4,5}
s1.remove(10)
# Ошибка KeyError: 10
s1.discard(10)
# Ничего не произошло

In [51]:
s1 = set('abcde')
s1.remove('d')
s1

{'a', 'b', 'c', 'e'}

In [52]:
s2 = {'e', 'b', 'a', 'c'}
s2

{'a', 'b', 'c', 'e'}

In [53]:
s1 = set('abcdef')
s1.discard('f')
s1

{'a', 'b', 'c', 'd', 'e'}

In [54]:
s1 = set('abcdef')
s1.remove('f')
s1

{'a', 'b', 'c', 'd', 'e'}

## .union()

In [55]:
cluster1 = {"item1", "item2", "item3", "item4"}
cluster2 = {"item2", "item3", "item5", "item7"}
cluster1.union(cluster2) 
# {"item1", "item2", "item3", "item5", "item7"}

{'item1', 'item2', 'item3', 'item4', 'item5', 'item7'}

In [57]:
alpha_set = set('abcde')
name = set('bad boy')
alpha_set.union(name)

{' ', 'a', 'b', 'c', 'd', 'e', 'o', 'y'}

In [59]:
num_set = set(i for i in range(11))
date_num = set([1,9,4,8])
num_set.union(date_num)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## .intersection()

In [ ]:
При .intersection() берутся только те элементы, которые есть в обоих множествах.

In [ ]:
cluster1 = {"item1", "item2", "item3", "item4"}
cluster2 = {"item2", "item3", "item5", "item7"}
cluster1.intersection(cluster2) 
# {"item2", "item3"}

In [60]:
alpha_set = set('abcde')
name = set('bad boy')
alpha_set.intersection(name)

{'a', 'b', 'd'}

In [61]:
num_set = set(i for i in range(11))
date_num = set([1,9,4,8])
num_set.intersection(date_num)

{1, 4, 8, 9}

## .difference()

.difference() выбирает только те элементы из первого множества, которых нет во втором множестве.

In [ ]:
cluster1 = {"item1", "item2", "item3", "item4", "item5"}

cluster2 = {"item3", "item4", "item5", "item6"}
cluster1.difference(cluster2) 
# {"item1", "item2"}

In [62]:
alpha_set = set('abcde')
name = set('bad boy')
alpha_set.difference(name)

{'c', 'e'}

In [63]:
m_set = set(i for i in range(11))
date_num = set([1,9,4,8])
num_set.difference(date_num)

{0, 2, 3, 5, 6, 7, 10}

## .issubset()

Метод .issubset() используется для того, чтобы узнать, все ли элементы из первого множества есть во втором множестве.

In [64]:
cluster1 = {"item1", "item2", "item3"}

cluster2 = {"item2", "item3", "item4", "item5", "item6"}

cluster1.issubset(cluster2) 
# False

False

# 5. Приведение типов

Напомним, что функция int() не округляет, а «обрубает» вещественную часть. То есть после применения функции int() на числах 7.4, 7.6 на выходе получится одно и тоже число (7).

Целое число при делении можно получить, если использовать не один знак деления (/), а два (//).

In [66]:
a = 3
b = float(a)
print(type(b), b)

<class 'float'> 3.0

In [69]:
b = 3.0
e = int(b)/4
print(type(e), e)

<class 'float'> 0.75

In [70]:
num1 = 3
num2 = 3.5
sum1 = num1 + num2
sum2 = float(num1) + num2
print(sum1, sum2)

6.5 6.5

In [72]:
int_one = 1
str_one = str(int_one)
print(str_one)

1

In [73]:
str_age_begin = 'my age is '
int_age = 18
result_string = str_age_begin + str(int_age)
print(result_string)

my age is 18

In [74]:
str_brothers_begin = 'I have '
count = 5
str_brothers_end = ' brothers'
result_sentence = str_brothers_begin + str(count) + str_brothers_end
print(result_sentence)

I have 5 brothers

## Преобразование строк в числа

In [ ]:
my_date = "1990.0"
mom_date = "1957"
int_mom_date = int(mom_date)
float_my_date =  float(my_date)
float_my_date - int_mom_date 
# Получим уже число, а не ошибку. И число это будет равно 33.0.

In [ ]:
Если попытаться преобразовать число с плавающей точкой, представленное в качестве строки, в целый тип, можно получить ошибку:

my_date = "1990.0"
int(my_date) # ValueError: invalid literal for int() with base 10: ‘1990.0’

Дело в том, что int() делает внутри себя проверку на соответствие строки целому представлению. Если это не так, то выбрасывается ошибка (например, ошибка выше). Будьте внимательны.

## Преобразование в кортежи и списки

In [ ]:
dictionary = {"Anne": 15, "Sam": 30, "Marie": 22}
only_keys = dictionary.keys()
only_keys 
# dict_keys(["Anne", "Sam", "Marie"])

only_keys + ["Tom", "Curt"] 
# TypeError: unsupported operand type(s) for +: 'dict_keys' and 'list'

# Нужно преобразование:
only_keys = list(only_keys)
only_keys + ["Tom", "Curt"] 
# "Anne", "Sam", "Marie", "Tom", "Karl"]

In [ ]:
input_list = ["Collin", 23, "LA"]
# создаём новый ключ для словаря. Но пока этот ключ в виде списка.
input_place = "2st place"
# также определяем значение для нового ключа.

d[input_list] = Input_place 
# TypeError: unhashable type: 'list'

# Возникает ошибка, так как список не может быть ключом для словаря — нужно преобразовать список в кортеж:

input_list_as_tuple = tuple(input_list)
# преобразуем список в кортеж через конструктор типов tuple()

d[input_list_as_tuple] = input_place
# добавляем новый ключ и значение в словарь и выводим результат
d 
# {("Amanda", 22, "NY"): "3rd place", ("Collin", 23, "LA"): "2st place"}

In [75]:
list1 = [i for i in range(1,6)]
tpl1 = tuple(list1)
tpl1

(1, 2, 3, 4, 5)

In [76]:
tpl1 = tuple(set('abcde'))
list2 = list(tpl1)
list2

['a', 'b', 'e', 'c', 'd']

In [79]:
list1 = []
for i in range(1,4):
    list1.append(i)
# list1.append(1, 2, 3) - Error
list1

[1, 2, 3]

In [83]:
list2 = list(range(-5,15,2))
list3 = list(range(1,5))
list3.extend(list2)
list3

[1, 2, 3, 4, -5, -3, -1, 1, 3, 5, 7, 9, 11, 13]

In [87]:
list6 = [3, 1, -10, 5, 11, 20, 1, -10]
list7 = list6.copy()
list6.sort()
# print(list6)
list_result = list6[::-1]
print(list7, list_result)

[3, 1, -10, 5, 11, 20, 1, -10] [20, 11, 5, 3, 1, 1, -10, -10]

In [89]:
list1 = [10, 15]
tpl1 =tuple(list1)
dict1 = dict({tpl1:'hello'})
dict1

{(10, 15): 'hello'}

In [93]:
dict1 = {'name':'unknown'}
dict2 = {'name':'Tom'}
print(dict1, dict2, dict1.keys(), dict1.values())
# print(dict1.items())

{'name': 'unknown'} {'name': 'Tom'} dict_keys(['name']) dict_values(['unknown'])

In [1]:
s1 = set('hello')
s2 = {'w', 'o', 'w'}  # or s2 = set(['w', 'o', 'w'])
print(s1.union(s2), s1.intersection(s2), s1.difference(s2))

{'l', 'e', 'o', 'h', 'w'} {'o'} {'e', 'l', 'h'}

In [96]:
result = 'age is ' + str(15)
result

'age is 15'